<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/vendor/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/vendor/css/check_balance.css">
	<title>Check Balance</title>
</head>

<body>
     <div class="card">
     	<div class="card-header">
     		<h6 class="text-center">Check Balance</h6>
     	</div>
     	<div class="card-body">
     		<input type="text"  placeholder="Search name.." id="search"><button type="button" id="check"><span class="fa fa-check"></span></button>
     		<ul class="list-group">
     			
     		</ul>
     	</div>
     	<div class="card-footer">
     		<strong>Your Balance:</strong> <input type="text" id="balance" disabled>
     	</div>
     </div>
<!-- jquery and js files -->
<script src="/vendor/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>  
<script type="text/javascript" src="/vendor/js/check_balance.js"></script>
</body>
</html>