.btn-no, .btn-delete{
	width: 20%;
	border: none;
	color: rgb(255,255,255);
	padding: 1%;
}
.btn-no{
	margin-left: 25%;
	background-color: rgb(200,0,0);
}
.btn-delete{
	background-color: rgb(0,0,200);
	
}
#modalDelete{

	width: 30%;	
	margin-left: 35%;
	margin-top: 10%;
}