#name{
	padding-left: 2%;
	height: 40px;
	width: 70%;
	margin-top: 5%;
}
#select-name{
	height: 40px;
	border: none;
	background-color: rgb(0,190,0);
	color: rgb(255,255,255);
	font-weight: bold;
}
#name:focus{
	border: 1px solid rgb(0,0,100);
}
.name-result{
	position: absolute;
	width: 67%;
}
.list-group-item{
	border: 1px solid dodgerblue;
}
.btn-primary{
	width: 100%;
	margin: auto;
	margin-top: 2%;
}
i{
	font-weight: bold;
}
.check{
	background-color:  rgb(2,46,146);
	color: white;
	padding: 10px;
	margin-bottom: 100px;
}
.check:hover{
	color: white;
	text-decoration: none;
}